<div class="ui right aligned container">
	<% if @question.profile.bookmarks.questions.include(@question) %>
		<%= link_to bookmarks_path(profile_id: @question.profile.id, question_id: @question.id), class: "ui labeled icon blue button", method: :post do %>
			<i class='bookmark icon'></i>
			Bookmark
		<% end %>
	<% end %>
</div>

<div class="ui grid">
  <div class="row author">

    <div class="two wide column center aligned">
      <div class="item" data-tooltip="<%= @question.profile.username %>" data-position="top center">
        <a href="<%= profile_path(@question.profile) %>">
          <img
            class="ui tiny circular image"
            src="<%= @question.profile.photo_url %>"
            alt="Profile photo">
        </a>
        <div class="content">
          <div class="sub header">Lv. <%= @question.profile.level %></div>
        </div>
      </div>
    </div>

    <div class="ui segment items qna">
      <div class="item">
        <div class="content">
          <div class="header">
            <%= @question.title %>
          </div>
          <div class="meta">
            <%= @question.created_at.strftime("%F %T") %>
          </div>
          <div class="description">
            <p><%= @question.description %></p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <%# answers %>
  <% if @correctAnswer %>
    <div class="row replies">
      <div class="ui segment items qna">
        <div class="item">
          <div class="content">
            <span class="ui red ribbon label"><i class="chess queen icon"></i></span>
            <span class="meta right">
              <%= @correctAnswer.created_at.strftime("%F %T") %>
            </span>
            <div class="description">
              <p><%= @correctAnswer.description %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="two wide column center aligned">
        <div class="item" data-tooltip="<%= @correctAnswer.profile.username %>" data-position="top center">
          <a href="<%= profile_path(@correctAnswer.profile) %>">
            <img
              class="ui tiny circular image"
              src="<%= @correctAnswer.profile.photo_url %>"
              alt="Profile photo">
          </a>
          <div class="content">
            <div class="sub header">Lv. <%= @correctAnswer.profile.level %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% @answers.each do |answer| %>
    <%# Avatar is on the left if the reply is written by the author of the question %>
    <%# Otherwise, the avatar is on the right %>
    <% if answer.profile.id != @question.profile.id %>
      <div class="row replies">
        <div class="ui segment items qna">
          <div class="item">
            <div class="content">
              <span class="meta right">
                <%= answer.created_at.strftime("%F %T") %>
              </span>
              <div class="description">
                <p><%= answer.description %></p>
                <% if !@correctAnswer && current_user.profile == @question.profile %>
                  <%= link_to answer_path(answer), class: "circular ui icon mini green button floated right", method: :put do %>
                    <i class="check icon"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="two wide column center aligned">
          <div class="item" data-tooltip="<%= answer.profile.username %>" data-position="top center">
            <a href="<%= profile_path(answer.profile) %>">
              <img
                class="ui tiny circular image"
                src="<%= answer.profile.photo_url %>"
                alt="Profile photo">
            </a>
            <div class="content">
              <div class="sub header">Lv. <%= answer.profile.level %></div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row author">
        <div class="two wide column center aligned">
          <div class="item" data-tooltip="<%= answer.profile.username %>" data-position="top center">
            <a href="<%= profile_path(answer.profile) %>">
              <img
                class="ui tiny circular image"
                src="<%= answer.profile.photo_url %>"
                alt="Profile photo">
            </a>
            <div class="content">
              <div class="sub header">Lv. <%= answer.profile.level %></div>
            </div>
          </div>
        </div>

        <div class="ui segment items qna">
          <div class="item">
            <div class="content">
              <div class="meta">
                <%= answer.created_at.strftime("%F %T") %>
              </div>
              <div class="description">
                <p><%= answer.description %></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  <% end %>
</div>

<%= form_with model: @answer, local: true, class: "reply" do |form| %>
  <%= form.hidden_field :question_id, value: @question.id %>
  <div class="ui fluid action input">
    <%= form.text_field :description, required: true, placeholder: "Type your answer here." %>
    <button class="ui teal right labeled icon button">
      <i class="arrow right icon"></i>
      Reply
    </button>
  </div>
<% end %>
