<% if user_signed_in? %>
  <div class="ui right aligned container">
    <% if @bookmark %>
      <%= link_to bookmark_path(@bookmark, question_id: @question.id), class: "ui labeled icon grey button", method: :delete do %>
        <i class='bookmark icon'></i>
        Bookmarked
      <% end %>
    <% else %>
      <%= link_to bookmarks_path(profile_id: current_user.id, question_id: @question.id), class: "ui labeled icon blue button", method: :post do %>
        <i class='bookmark icon'></i>
        Bookmark
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="ui basic modal">
  <div class="ui fluid image">
    <div class="image content">
      <img src="">
    </div>
  </div>
</div>

<div class="ui grid">
  <div class="row">

    <div class="two wide column center aligned">
      <div class="item" data-tooltip="<%= @question.profile.username %>" data-position="top center">
        <a href="<%= profile_path(@question.profile) %>">
          <%= cl_image_tag(@question.profile.photo_url, class: "ui avatar image") %>

        </a>
        <div class="content">
          <div class="sub header">Lv. <%= @question.profile.level %></div>
        </div>
      </div>
    </div>

    <div class="ui segment items qna">
      <div class="item">
        <div class="content">
          <div class="meta">
            <%= @question.created_at.strftime("%F %T") %>
          </div>
          <div class="header">
            <%= @question.title %>
          </div>
          <div class="description">
            <p><%= @question.description %></p>
            <% if @question.media %>
              <div class="ui small image media">
                <%= cl_image_tag(@question.media)%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>

  <%# answers %>
  <% @answers.each do |answer| %>
    <%# Avatar is on the left if the reply is written by the author of the question %>
    <%# Otherwise, the avatar is on the right %>
    <% if answer.profile.id != @question.profile.id %>
      <div class="row answers">
        <div class="ui segment items qna">
          <div class="item">
            <div class="content">
              <% if answer.answered %>
                <span class="ui red ribbon label"><i class="chess queen icon"></i></span>
              <% end %>
              <span class="meta right">
                <%= answer.created_at.strftime("%F %T") %>
              </span>
              <div class="description">
                <p><%= answer.description %></p>
                <% if answer.media %>
                  <div class="ui small image media">
                    <%= cl_image_tag(answer.media) %>
                  </div>
                <% end %>
                <div>
                <% if current_user && !@correctAnswer && current_user.profile == @question.profile %>
                  <%= link_to answer_path(answer), class: "circular ui icon mini green button floated right", data: {tooltip: "Accept", position: 'top center' }, method: :put do %>
                    <i class="check icon"></i>
                  <% end %>
                <% end %>
                <% if current_user %>
                  <div>
                    <%= link_to answer_path(answer, purpose: 'upvote'), class: "circular ui icon mini red button floated right", data: {tooltip: "Upvote: #{answer.vote}", position: 'top center' }, method: :put do %>
                      <i class="arrow up icon"></i>
                    <% end %>
                  </div>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="two wide column center aligned">
          <div class="item" data-tooltip="<%= answer.profile.username %>" data-position="top center">
            <a href="<%= profile_path(answer.profile) %>">
              <%= cl_image_tag(@question.profile.photo_url, class: "ui avatar image") %>
            </a>
            <div class="content">
              <div class="sub header">Lv. <%= answer.profile.level %></div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="two wide column center aligned">
          <div class="item" data-tooltip="<%= answer.profile.username %>" data-position="top center">
            <a href="<%= profile_path(answer.profile) %>">
              <%= cl_image_tag(@question.profile.photo_url, class: "ui avatar image") %>
            </a>
            <div class="content">
              <div class="sub header">Lv. <%= answer.profile.level %></div>
            </div>
          </div>
        </div>

        <div class="ui segment items qna">
          <div class="item">
            <div class="content">
              <div class="meta">
                <%= answer.created_at.strftime("%F %T") %>
              </div>
              <div class="description">
                <p><%= answer.description %></p>
                <% if answer.media %>
                  <div class="ui small image media">
                    <%= cl_image_tag(answer.media) %>
                  </div>
                <% end %>
                <% if current_user %>
                  <div>
                    <%= link_to answer_path(answer, purpose: 'upvote'), class: "circular ui icon mini red button floated left", data: {tooltip: "Upvote: #{answer.vote}", position: 'top center' }, method: :put do %>
                      <i class="arrow up icon"></i>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  <% end %>
</div>

<% if current_user %>
  <%= form_with model: @answer, local: true, class: "reply" do |form| %>
    <%= form.hidden_field :question_id, value: @question.id %>
    <div class="ui fluid action input">
      <%= form.text_field :description, required: true, placeholder: "Type your answer here." %>
      <div class="upload">
        <%= form.label :media do %>
          <i class="circular upload link icon"></i>
        <% end %>
        <%= form.file_field :media, class: "file", accept: 'image/png,image/gif,image/jpeg, image/jpg' %>
      </div>
      <button class="ui teal right labeled icon button">
        <i class="arrow right icon"></i>
        Reply
      </button>
    </div>
    <div class="ui image label">
      <i class="image icon"></i>
      <span class="media"></span>
      <i class="delete icon"></i>
    </div>
  <% end %>
<% end %>
