<h1>Settings</h1>

<h2 class="ui top attached header">
  Profile
</h2>
<div class="ui attached segment">
	<%= form_with model: @profile, class: 'ui form', local: true do |form| %>
		<div class='field'>
			<h3>Username:</h3>
			<%= form.text_field :username, required: true %>
		</div>
		<%= form.submit 'Change', class: 'ui button'  %>
	<% end %>
	<br>
	<%= form_with model: @profile, class: 'ui form', local: true do |form| %>
		<div class='field'>
			<h3>Biography:</h3>
			<%= form.text_area :bio, placeholder: 'Enter a short biography of yourself' %>
		</div>
		<%= form.submit 'Change', class: 'ui button' %>
	<% end %>
	<br>
	<%= link_to profile_path(current_user) do %>
		<button class="ui button">Profile</button>
	<% end %>
</div>
<br>
<%= link_to registration_path(current_user), data: { confirm: "Do you want to delete your account? Once deleted, account cannot be retrieved." }, method: :delete do %>
<button class="negative ui button delete-account">Delete Account</button>
<% end %>

