<div class='ui grid'>
  <div class='two column row'>
    <div class='column'>
      <div class="ui card">
        <div class="image">
          <% if @profile.id == 1 %>
          	<img src="<%= image_url "admin.png" %>" >
          <% else %>
          	<%= cl_image_tag(@profile.photo_url, :width=>290, :height=>290, :crop=>"scale") %>
          <% end %>
        </div>
      </div>
    </div>
    <div class='column'>
      <div class="ui cards">
        <div class="card">
          <div class="content">
            <div class="header"><h1><%= @profile.username %></h1></div>
            <div class="meta">Biography:</div>
            <div class="description">
              <%= @profile.bio %>
              <br>
              <br>
            </div>
            <% if user_signed_in? && current_user == @profile.user %>
              <%= link_to '/settings' do %>
                <button class="fluid ui inverted blue button">Update Profile</button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @profile.level > 5 %>
  <% total = 10 %>
<% else %>
  <% total = 5 %>
<% end %>

<div class="progress-bar">
  <%= content_tag :h1, "Level: #{@profile.level}"%>
  <%= content_tag :div, class: 'ui indicating progress', data: {value: @profile.exp, total: total}, id: 'level' do %>
    <%= content_tag :div, '', class: 'bar' %>
    <%= content_tag :div, "#{@profile.exp}/#{total}", class: 'label' %>
  <% end %>
</div>

<div class="ui top attached tabular menu">
  <a class="active item" data-tab="threads">Threads</a>
  <a class="item" data-tab="bookmarks">Bookmarks</a>
  <a class="item" data-tab="playlists">Playlists</a>
  <a class="item" data-tab="videos">Videos</a>
</div>
<div class="ui bottom attached active tab segment" data-tab="threads">
  <div class='content-container'>
    <div class="ui large middle aligned divided animated list">
      <% if @profile.questions.length > 0 %>
        <%@profile.questions.each do |question|%>
          <a href="<%= question_path(question) %>" class="item question">
            <%= cl_image_tag(@profile.photo_url, class: "ui avatar image") %>
            <div class="content">
              <div class="header"><%= question.title %></div>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="ui bottom attached tab segment" data-tab="bookmarks">
  <div class='content-container'>
    <div class="ui large middle aligned divided animated list">
      <% if @bookmarked_question.length > 0 %>
        <%@bookmarked_question.each do |question|%>
          <a href="<%= question_path(question) %>" class="item question">
            <%= cl_image_tag(@profile.photo_url, class: "ui avatar image") %>
            <div class="content">
              <div class="header"><%= question.title %></div>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="ui bottom attached tab segment" data-tab="playlists">
  <div class='content-container'>
    <div class="ui large middle aligned divided animated list">
      <% if @profile.playlists.length > 0 %>
        <% @profile.playlists.each do |playlist|%>
          <a href="<%= playlist_path(playlist) %>" class="item question">
            <% if user_signed_in? && @profile.id == 1 %>
            	<img class="ui avatar image" src="<%= image_url "admin.png" %>">
            <% else %>
            	<%= cl_image_tag(@profile.photo_url, class: "ui avatar image") %>
            <% end %>
            <div class="content">
              <div class="header"><%= playlist.name %></div>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="ui bottom attached tab segment" data-tab="videos">
  <div class='content-container'>
		<div class="ui stackable four column grid container">
	    <% @profile.videos.each do |video| %>
				<% string = video.video_url.dup %>
				<% string.gsub!('www','img')%>
				<% string = string.gsub!('embed','vi') %>
					<% if string %>
					  <% string << '/0.jpg' %>
						<div class="column">
							<div class="playlist-video-box">
								<%= link_to image_tag(string, class: "preview-image"), video_path(video.id) %>
							</div>
						</div>
				<% end %>
	    <% end %>
    </div>
  </div>
</div>
