<iframe width="560" height="315"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen src=<%= @video.video_url%>></iframe>

<%#= link_to 'Add video to playlist',  videos_path %>

<div class="ui hover button">

	<%= form_with scope: :playlists, url: add_video_to_playlist_path(@video), local: true do |form| %>

	<%= form.collection_check_boxes :playlist_ids,current_user.profile.playlists, :id, :name, class: "#{'display:none'}" %>

	<%= form.submit 'SAVE', class: "ui positive button"  %>

	<% end %>
</div>

<% if @video.profile_id == current_user.id %>
	<%= link_to video_path(@video),
		method: :delete,
		data: { confirm: 'Do you want to delete this video' } do %>
		<div class="negative ui button link delete-playlist-button">Delete Video</div>
	<% end %>
<% end %>