<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>MalayMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="/" class="header item">
        <img class="logo" src="<%= image_url "logo.png" %>">
          MalayMe
        </a>
        <%= link_to "Class", playlists_path, class: "item" %>
        <%= link_to "Forum", questions_path, class: "item" %>

        <% if user_signed_in? %>
          <div class="ui simple right dropdown item">
            <%= current_user.profile.username %> <i class="dropdown icon"></i>
            <div class="menu">
              <%= link_to "Profile", profile_path(current_user), class: "item" %>
              <%= link_to "Settings", "/settings", class: "item" %>
              <%= link_to "Logout", destroy_user_session_url, method: :delete, class: "item" %>
            </div>
          </div>
        <% else %>
          <%= link_to "Login", new_user_session_url, class: "item right" %>
        <% end %>
      </div>
    </div>

    <div class="main-container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
